In [2]:
import pandas as pd

In [1]:
# Q1. games.csv를 로딩하여 lol_df에 할당/선언해주세요.

In [6]:
lol_df = pd.read_csv('./games.csv')
lol_df.head(2)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420

In [2]:
# Q2. 7번째 컬럼명을 출력해보세요.

In [11]:
print(lol_df.columns)
Answer = lol_df.columns[6]
print(Answer)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')
firstTower

In [3]:
# Q3. 7번째 컬럼의 value의 data type을 확인해주세요(위치기반 인덱싱)

In [15]:
# 명칭기반 인덱싱 :: Label based indexing -1
# dtype 은 property이기에 ()괄호를 사용하시지 않습니다.
lol_df['firstTower'].dtype

dtype('int64')

In [16]:
# 위치기반인덱싱 :: Positional indexing -2 
# dtype 은 property이기에 ()괄호를 사용하시지 않습니다.
lol_df.iloc[:,6].dtype

dtype('int64')

In [4]:
# Q4. 데이터셋의 인덱스 구성은 어떻게 되어 있는지 확인해주세요.

In [20]:
# Numpy와 Pandas에서는 property가 간혹 등장하는데
## 암기하시지 마시고 사용하면서
## error를 보시면서 손에 익게 연습해주세요 ^^

Answer = lol_df.index
print(Answer)

RangeIndex(start=0, stop=51490, step=1)

In [5]:
# Q5. 7번째 컬럼의 3번째 값은 무엇인지 확인해주세요. (Positional Indexing) iloc

In [26]:
## 기존의 pandas indexing -1번 풀이
lol_df['firstTower'][2]

1

In [27]:
## iloc 기법을 통해서 [행, 열]컨셉으로 가져오는 것이
## 더 효율적입니다.-2번 풀이

lol_df.iloc[2,6]

1

### 새로운 데이터프레임(이하 df)를 통한 문제

In [ ]:
# Q1. jeju.csv 데이터를 로딩하여 보세요.- pd.read_csv???

In [29]:
import pandas as pd
jeju_df = pd.read_csv('./jeju.csv')

In [7]:
# Q2. 데이터의 마지막 3개의 행을 출력해보세요.-tail?

In [31]:
jeju_df.tail(3)

,Unnamed: 0,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [8]:
# Q3. 데이터의 수치형 변수를 출력해보세요. - select_dtypes

In [33]:
jeju_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9621 non-null   int64
 1   id          9621 non-null   int64
 2   일자          9621 non-null   object
 3   시도명         9621 non-null   object
 4   읍면동명        9621 non-null   object
 5   거주인구        9621 non-null   float64
 6   근무인구        9621 non-null   float64
 7   방문인구        9621 non-null   float64
 8   총 유동인구      9621 non-null   float64
 9   평균 속도       9621 non-null   float64
 10  평균 소요 시간    9621 non-null   float64
 11  평균 기온       9621 non-null   float64
 12  일강수량        9621 non-null   float64
 13  평균 풍속       9621 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 1.0+ MB

In [37]:
Answer_q3 = jeju_df.select_dtypes(exclude='object').columns
print(Answer_q3)

Index(['Unnamed: 0', 'id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도',
       '평균 소요 시간', '평균 기온', '일강수량', '평균 풍속'],
      dtype='object')

In [9]:
# Q4. 데이터의 문자형 변수를 출력해보세요 - select_dtypes

In [39]:
Answer_q4 = jeju_df.select_dtypes(include='object').columns
print(Answer_q4)

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [10]:
# Q5. 각 컬럼의 결측치 숫자를 파악해주세요. - isna, count? sum?

In [42]:
jeju_df.isna().sum()

Unnamed: 0    0
id            0
일자            0
시도명           0
읍면동명          0
거주인구          0
근무인구          0
방문인구          0
총 유동인구        0
평균 속도         0
평균 소요 시간      0
평균 기온         0
일강수량          0
평균 풍속         0
dtype: int64

In [11]:
# Q6. 각 컬럼의 데이터수, 데이터 타입을 한 번에 확인하라. - info

In [44]:
Answer_q6 = jeju_df.info()
print(Answer_q6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9621 non-null   int64
 1   id          9621 non-null   int64
 2   일자          9621 non-null   object
 3   시도명         9621 non-null   object
 4   읍면동명        9621 non-null   object
 5   거주인구        9621 non-null   float64
 6   근무인구        9621 non-null   float64
 7   방문인구        9621 non-null   float64
 8   총 유동인구      9621 non-null   float64
 9   평균 속도       9621 non-null   float64
 10  평균 소요 시간    9621 non-null   float64
 11  평균 기온       9621 non-null   float64
 12  일강수량        9621 non-null   float64
 13  평균 풍속       9621 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 1.0+ MB
None

In [12]:
# Q7. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소)를 확인하라. - summary

In [46]:
Answer_q7 = jeju_df.describe()
print(Answer_q7)

        Unnamed: 0            id          거주인구           근무인구           방문인구  \
count  9621.000000   9621.000000  9.621000e+03    9621.000000    9621.000000
mean   4810.000000  27258.000000  3.174315e+05   35471.201510  195889.561802
std    2777.487804   2777.487804  2.982079e+05   40381.214775  140706.090325
min       0.000000  22448.000000  9.305552e+03    1407.936000   11538.322000
25%    2405.000000  24853.000000  9.539939e+04   12074.498000   99632.153000
50%    4810.000000  27258.000000  2.221105e+05   21960.928000  152805.335000
75%    7215.000000  29663.000000  4.106671e+05   40192.032000  236325.109000
max    9620.000000  32068.000000  1.364504e+06  263476.965000  723459.209000

             총 유동인구        평균 속도     평균 소요 시간        평균 기온         일강수량  \
count  9.621000e+03  9621.000000  9621.000000  9621.000000  9621.000000
mean   5.487922e+05    41.109084    37.215873    13.550828     6.972426
std    4.608802e+05     8.758631    12.993786     7.745515    27.617260
min    2.225181e+04    24.333000    12.667000    -9.600000     0.000000
25%    2.216910e+05    34.250000    27.889000     7.600000     0.000000
50%    3.866935e+05    39.640000    34.500000    13.400000     0.000000
75%    6.406918e+05    49.105000    46.176000    19.700000     1.500000
max    2.066484e+06   103.000000   172.200000    30.400000   587.500000

             평균 풍속
count  9621.000000
mean      2.753171
std       1.498538
min       0.000000
25%       1.700000
50%       2.400000
75%       3.400000
max      13.333000

In [13]:
# Q8. 거주인구 컬럼의 값들을 출력하라. (보통 이러면 Series로 출력하게 됩니다) - 컬럼 지정

In [48]:
Anwer_q8 = jeju_df.거주인구
print(Anwer_q8)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [14]:
# Q9. 평균속도 컬럼의 4분위 범위(IQR)값을 구하여라. - 제가 풀어드려야 함.

In [50]:
## 목요일에 답변
Answer_q9 = jeju_df['평균 속도'].quantile(0.75)-jeju_df['평균 속도'].quantile(0.25)
print(Answer_q9)

14.854999999999997

In [51]:
# end of file